In [1]:
import pandas as pd

In [16]:
tweet_data_path = 'archive/training.1600000.processed.noemoticon.csv'
all_tweet_data = pd.read_csv(tweet_data_path,
                             encoding='latin', 
                             names=['target', 'id', 'date', 'flag', 'user', 'text'])

In [18]:
all_tweet_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [23]:
tweet_data = all_tweet_data.sample(1000)[['target', 'text']]

In [29]:
tweet_data.head()

         target                                               text
1092948       4               is at a silent retreat this weekend
516105        0  teamtraveller YIKES!  That Sucks!  Last year w...
176746        0  The Killers on Jonathan Ross completely epitom...
650855        0  catching up on masterchef. can't believe i mis...
1048165       4  DamienCripps Hey Damien, cheers for the follow...

In [28]:
# remove @ symbols'
tweet_data['text'] = tweet_data['text'].apply(lambda x : x.replace('@', ''))